body{
    margin: 0;
    padding: 0;
}

.title{
    font-weight: bolder;
    color: #000;
    text-align: center;
}

.cards{
    display: flex;
    position: relative;
    flex-direction: row;
    width: auto;
    height: auto;
    /* border: 1px solid red; */
    justify-content: space-between;
}

.card-body.card-title.card-text.btn-primary{
    text-align: center;
}

.card-title, .card-text, .btn-primary{
    text-align: center;
}

.btn-primary{
    width: auto;
    margin-left: 68px;
}

.card-img-top{
    width: 220px;
    height: 220px;
    align-items: center;
}

img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
}

footer{
    position: relative;
    height: 100px;
    margin-top: 40px;
    background-color: #E9ECEF;
}

.foot{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    line-height: 90px;
}

ol{
    margin-right: 100px;
    font-weight: bolder;
}