/* PAGE INDEX */

/* DARK MODE */
:root {
    --text: #f1f1f1;
    --background: #1D1D22;
    --hr: #ECEDEF;
    --btn: yellow;
    --border: #1D1D22;
}

body {
    background-color: var(--background);
    color: var(--text);
}

#darkMode {
    background-color: var(--background);
    border: 1px solid, var(--border);
    color: var(--btn);
}

/* MODAL */

.modal {
    color: black;
}

/* HEADER */

.jumbotron {
    padding: 5px;
    background-color: var(--background);
}

.connect {
    display: flex;
    align-items: center;
}

.site-name {
    display: inline-block;
    justify-content: flex-start;
    width: 525px;
}

.buttons_home {
    display: flex;
    width: 70px;
    padding: 0;
    justify-content: flex-end;
    width: max-content;
    position: absolute;
    flex-direction: row;
    align-items: center;
    top: 50px;
    left: 70%;
}

.buttons {
    display: flex;
    width: 70px;
    padding: 0;
    justify-content: flex-end;
    width: max-content;
    position: absolute;
    flex-direction: row;
    align-items: center;
    top: 50px;
    left: 79%;
}

.rounded {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
}

#banner_articles.rounded {
    display: block;
    width: 100%;
    height: 350px;
    padding: 0;
}

.slogan,
.slogan_articles {
    display: flex;
    padding-left: 135px;
    margin-top: -10px;
    margin-bottom: -15px;
}

/* BODY */

#popular {
    text-decoration: underline;
    box-sizing: content-box;
    width: 100%;
}

h4 {
    font-size: large;
    text-align: center;
}

.h4_title {
    margin-top: 50px;
}

.news_title {
    text-decoration: underline;
    font-size: 16px;
}

#carousel {
    margin: auto;
    width: 50%;
}

#caption {
    color: red;
    font-size: larger;
}

#description {
    color: var(--text);
    font-size: larger;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
}

/* FORMULAIRE */
label>.label-captcha {
    margin-top: .5rem;
}

img.rounded-sm {
    margin-top: .5rem;
}


/*  PAGE ARTICLES */

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles {
    display: flex;
    height: 300px;
    justify-content: space-around;
    box-sizing: unset;
}

.text {
    margin-left: 25%;
    margin-top: -10%;
    flex-direction: column;
    justify-content: flex-start;
}

.link {
    color: var(---text);
}

hr {
    background-color: var(--hr);
}

h6,
hr {
    width: 100%;
}

.hr_articles {
    margin: -30px;
}

.title {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
}

.description {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
}


/* MEDIA QUERIES */

/* Taille inférieure 767px */
@media screen and (max-width: 767px) {

    .container {
        flex-direction: column;
        flex-wrap: wrap;
        height: max-content;
    }

    .connect {
        flex-direction: row;
        width: 360px;
        margin: auto;
        margin-left: -15px;
    }

    h1 {
        width: fit-content;
        margin-bottom: 0;
        padding-top: 10px;
    }

    .buttons {
        width: max-content;
        position: absolute;
        flex-direction: row;
        align-items: center;
        top: 90px;
        left: 180px;
    }

    .slogan,
    .slogan_articles {
        display: flex;
        flex-direction: row;
        width: fit-content;
        margin: auto;
        padding-left: 1px;
    }

    #darkMode {
        display: flex;
        padding-left: -20px;
        top: 4px;
        width: 100px;
        border: var(--text);
    }

    #banner_articles.rounded,
    #articles {
        width: 425px;
        height: 100%;
    }

    #banner_articles.rounded {
        display: flex;
        margin: auto;
        width: 100%;
        height: auto;
        padding: 0;
    }

    .news {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }

    #articles {
        width: auto;
        height: max-content;
        padding-bottom: 60px;
        top: 0;

    }

    #art {
        display: grid;
        flex-direction: column;
        align-self: center;
        justify-content: space-between;
        width: auto;
        height: auto;
    }


    /* Taille inférieure à 414px */
    @media screen and (min-width: 414px) {
        .container {
            flex-direction: column;
            flex-wrap: wrap;
            height: max-content;
        }

        .connect {
            flex-direction: row;
            width: 360px;
            margin: auto;
            margin-left: -15px;
        }

        h1 {
            width: fit-content;
            margin-bottom: 0;
            padding-top: 10px;
        }

        .buttons {
            width: max-content;
            position: absolute;
            flex-direction: row;
            align-items: center;
            top: 90px;
            left: 220px;
        }

        .buttons_home {
            display: flex;
            width: 70px;
            padding: 0;
            justify-content: flex-end;
            width: max-content;
            position: absolute;
            flex-direction: row;
            align-items: center;
            top: 90px;
            left: 55%;
        }

        .slogan,
        .slogan_articles {
            display: flex;
            flex-direction: row;
            width: fit-content;
            margin: auto;
            padding-left: 1px;
        }

        #darkMode {
            display: flex;
            padding-left: -20px;
            top: 4px;
            width: 100px;
            border: var(--text);
        }
    }

    /* Taille inférieure à 375px */
    @media screen and (max-width: 375px) and (max-width: 413px){

        .container {
            flex-direction: column;
            flex-wrap: wrap;
            height: max-content;
        }

        .connect {
            flex-direction: row;
            width: 360px;
            margin: auto;
            margin-left: -15px;
        }

        h1 {
            width: fit-content;
            margin-bottom: 0;
            padding-top: 10px;
        }

        .buttons_home {
            display: flex;
            width: 70px;
            padding: 0;
            justify-content: flex-end;
            width: max-content;
            position: absolute;
            flex-direction: row;
            align-items: center;
            top: 90px;
            left: 50%;
        }

        .buttons {
            width: max-content;
            position: absolute;
            flex-direction: row;
            align-items: center;
            top: 90px;
            left: 180px;
        }

        .slogan,
        .slogan_articles {
            display: flex;
            flex-direction: row;
            width: fit-content;
            margin: auto;
            padding-left: 1px;
        }

        #darkMode {
            display: flex;
            padding-left: -20px;
            top: 4px;
            width: 100px;
            border: var(--text);
        }

        #banner_articles.rounded,
        #articles {
            width: 425px;
            height: 100%;
        }

        #banner_articles.rounded {
            display: flex;
            margin: auto;
            width: 100%;
            height: auto;
            padding: 0;
        }

        .news {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        #articles {
            width: auto;
            height: auto;
            padding-bottom: 60px;
            top: 0;
        }

        #art {
            display: grid;
            flex-direction: column;
            align-self: center;
            justify-content: space-between;
            width: auto;
            height: auto;
        }

        .text {
            margin-left: 25%;
            margin-top: -10%;
            flex-direction: column;
            justify-content: flex-start;
            display: none;
            border: 1px solid rgb(10, 228, 231);
            width: auto;
            height: auto;
        }

        .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 20vh;
        }

    }
}